*{
    margin:  0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 0;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
    color: #b0413e;
    font-size: 8vmin;
    background-color: #ffffc7;

}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: #191913;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: #191913;
    border-radius: 1rem;
    border: none;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
.draw-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
}
#draw{
    color: #ffffc7;
    font-size: 5vmin;
}

.hide{
    display: none;
}

/* Media query for tablets in portrait mode */
@media (max-width: 768px) {
    h1{
        margin-top: 2rem;
        font-size: 2.5rem;
    }
}